---
http_interactions:
- request:
    method: post
    uri: https://www.portmone.com.ua/r3/api/gateway
    body:
      encoding: UTF-8
      string: '{"params":{"data":{"aPayMerchantName":"merchant.portmone.com.busfor.Busfor","aPayToken":"TOKEN","billAmount":1000,"shopOrderNumber":123,"billCurrency":"UAH","login":"SHP_BUSFOR2","password":"11111111","payeeId":"16336"}},"method":"APay"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"status\":\"success\",\"errorCode\":null,\"error\":null}}"
  recorded_at: Mon, 08 Jul 2019 13:00:26 GMT
recorded_with: VCR 2.9.3
