---
http_interactions:
- request:
    method: post
    uri: https://www.portmone.com.ua/gateway/
    body:
      encoding: UTF-8
      string: action=set_paid&lang=ru&login=SHP_BUSFOR2&method=preauth&password=11111111&payee_id=16336&postauth_amount=50.0&shop_bill_id=432783653
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <portmoneresult lang="ru"><request><action>set_paid</action><lang>ru</lang><login>SHP_BUSFOR2</login><method>preauth</method><password>********</password><postauth_amount>50.0</postauth_amount><shop_bill_id>432783653</shop_bill_id></request><order><error_code>5</error_code><error_message><![CDATA[По данному счету не допускается выполнение подтверждения блокировки средств. [статус=REJECTED]]]></error_message></order></portmoneresult>
  recorded_at: Tue, 27 Nov 2018 13:06:18 GMT
recorded_with: VCR 2.9.3
