---
http_interactions:
- request:
    method: post
    uri: https://www.portmone.com.ua/gateway/
    body:
      encoding: UTF-8
      string: action=set_paid&lang=ru&login=SHP_BUSFOR2&method=preauth&password=11111111&payee_id=16336&postauth_amount=50.0&shop_bill_id=434052769
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <portmoneresult lang="ru"><request><action>set_paid</action><lang>ru</lang><login>SHP_BUSFOR2</login><method>preauth</method><password>********</password><postauth_amount>50.0</postauth_amount><shop_bill_id>434052769</shop_bill_id></request><order><shop_bill_id>434052769</shop_bill_id><shop_order_number>payment_id-13</shop_order_number><description><![CDATA[Киев-Львов]]></description><bill_date>27.11.2018</bill_date><pay_date>27.11.2018</pay_date><pay_order_date></pay_order_date><bill_amount>50</bill_amount><auth_code>TESTPM</auth_code><status>PAYED</status><attribute1></attribute1><attribute2></attribute2><error_code>0</error_code><error_message><![CDATA[]]></error_message></order></portmoneresult>
  recorded_at: Tue, 27 Nov 2018 13:08:55 GMT
recorded_with: VCR 2.9.3
