---
http_interactions:
- request:
    method: post
    uri: https://www.portmone.com.ua/r3/api/gateway/
    body:
      encoding: UTF-8
      string: '{"params":{"data":{"MD":"MD","PaRes":"PaRes","shopBillId":123},"id":1},"method":"confirmMpi"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Feb 2020 18:39:49 GMT
recorded_with: VCR 2.9.3
