---
http_interactions:
- request:
    method: post
    uri: https://www.portmone.com.ua/r3/api/gateway/
    body:
      encoding: UTF-8
      string: '{"params":{"data":{"gPayToken":"TOKEN","billAmount":1000,"shopOrderNumber":123,"billCurrency":"UAH","login":"SHP_BUSFOR2","password":"11111111","payeeId":"16336"}},"method":"GPay","id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"status\":\"PAYED\",\"errorCode\":\"0\",\"error\":\"\",\"shopBillId\":\"550298815\",\"billAmount\":\"1.01\",\"billNumber\":\"SHP-00000002\",\"attribute1\":\"\",\"attribute2\":\"\",\"attribute3\":\"\",\"attribute4\":\"\",\"cardMask\":\"535560******3735\",\"actionMPI\":\"\",\"pareq\":\"\",\"authCode\":\"67037Z\",\"description\":\"test payment\",\"lang\":\"uk\",\"md\":\"\",\"isNeed3DS\":\"N\",\"token\":\"\",\"billCurrency\":\"UAH\",\"transactionId\":\"927500948048\",\"pdfUrl\":\"https://www.portmone.com.ua/r3/services/receipts/get-receipts/shop-bill-id/35357a20f10b49519794e81b48b20d0402cd2b7654553048021cb230400befdf94bacfbb12bd77983adae9422fbcc51cf0987a171403f08b33b2d119249845bad4e457\",\"shop_site_id\":\"\"},\"id\":\"1\"}"
  recorded_at: Wed, 05 Feb 2020 18:25:18 GMT
recorded_with: VCR 2.9.3
