---
http_interactions:
- request:
    method: post
    uri: https://www.portmone.com.ua/gateway/
    body:
      encoding: UTF-8
      string: lang=ru&login=SHP_BUSFOR2&method=result&password=11111111&payee_id=16336&shop_order_number=dummy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <portmoneresult lang="ru"><request><payee_id>16336</payee_id><shop_order_number>dummy</shop_order_number><status>%</status><start_date>26.10.2018</start_date><end_date>26.11.2018</end_date></request><orders type="list"/></portmoneresult>
  recorded_at: Mon, 26 Nov 2018 12:35:15 GMT
recorded_with: VCR 2.9.3
