---
http_interactions:
- request:
    method: post
    uri: https://www.portmone.com.ua/gateway/
    body:
      encoding: UTF-8
      string: action=reject&lang=ru&login=SHP_BUSFOR2&method=preauth&password=11111111&payee_id=16336&postauth_amount=0.0&shop_bill_id=434051098
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <portmoneresult lang="ru"><request><action>reject</action><lang>ru</lang><login>SHP_BUSFOR2</login><method>preauth</method><password>********</password><postauth_amount>0.0</postauth_amount><shop_bill_id>434051098</shop_bill_id></request><order><error_code>6</error_code><error_message><![CDATA[Счет уже ранее был отменен.]]></error_message></order></portmoneresult>
  recorded_at: Tue, 27 Nov 2018 13:03:21 GMT
recorded_with: VCR 2.9.3
